.header{
    padding: 0;
    &__nav{    
        background-color: #E3E3E3;
        padding: 1em 2em;
        position: relative;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        &__logo{
            width: 15em;
            height: auto;
        }
        &__dropdown{
            position: absolute;
            right: .6em;
            top: .8em;
            border: none;
            background: transparent;
            font-family: "Readex Pro", sans-serif;
            color: #1763A0;
            cursor: pointer;
            font-size: 2.1rem;
        }
        &__menu{
            display: none;
            color: #1763A0;
            font-size: 1.3rem;
            font-weight: 500;
            list-style: none;
            margin-left: 3.2em;
            &__item{
                cursor: pointer;
            }
        }
    }
    &__search-container{
        font-family: "Roboto Serif", serif;
        color: #1763A0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 2em;
        &__title{
            text-align: center;
            font-weight: 700;
            font-size: 1.5rem;
            width: 90%;
            margin: 1.5em auto;
            margin-bottom: .8em;
        }
        &__textfield{
            background-color: #E3E3E3;
            width: 70%;
        }
        &__select{
            background-color: #E3E3E3;
            width: 70%;
        }
        &__subtitle{
            font-size: 1.125rem;
            font-weight: 400;
            margin-top: 1.5em;
            align-self: flex-start;
        }
    }
    @media only screen and (min-width: 1000px) {
        &__nav{
            display: flex;
            justify-content: space-between;  
            align-items: center;
            &__dropdown{
                display: none;
            }
            &__menu{
                display: flex;
                gap: 3em;                
            }
        }
        &__search-container{
            &__title{
                font-size: 2rem;
            }
            &__textfield{
                width: 60%;
            }
            &__select{
                width: 60%;
            }
            &__subtitle{
                font-size: 1.4rem;
            }
        }
    }
}
.thisPage{
    color: #1D95F6;
    font-weight: 900;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}
@media only screen and (min-width: 1000px) {
    .visible {
        display: flex;
    }
}